.bg-image {
    background-image: url("../assets/o.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
  }
  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }